{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Order List</h1>
    <form method="GET" class="mb-3">
        <input type="text" name="q" value="{{ query }}" placeholder="Search orders..." class="form-control mb-2" />

        <select name="status" class="form-control mb-2">
            <option value="">All Statuses</option>
            <option value="Open" {% if status_filter == 'Open' %}selected{% endif %}>Open</option>
            <option value="Closed" {% if status_filter == 'Closed' %}selected{% endif %}>Closed</option>
            <option value="Pending" {% if status_filter == 'Pending' %}selected{% endif %}>Pending</option>
        </select>

        <select name="category" class="form-control mb-2">
            <option value="">All Categories</option>
            <option value="Not Assigned" {% if category_filter == 'Not Assigned' %}selected{% endif %}>Not Assigned</option>
            <option value="Sales" {% if category_filter == 'Sales' %}selected{% endif %}>Sales</option>
            <option value="Technical Support" {% if category_filter == 'Technical Support' %}selected{% endif %}>Technical Support</option>
        </select>

        <button type="submit" class="btn btn-primary mt-2">Apply Filters</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                {% if request.user.is_manager or request.user.is_admin %}
                <th>Order ID</th>
                {% endif %}
                <th>Title</th>
                {% if request.user.is_manager or request.user.is_admin %}
                <th>User</th>
                {% endif %}
                <th>Status</th>
                <th>Category</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                {% if request.user.is_manager or request.user.is_admin %}
                <td><a href="{% url 'order_detail' order.pk %}">{{ order.pk }}</a></td>
                {% endif %}
                <td>{{ order.title }}</td>
                {% if request.user.is_manager or request.user.is_admin %}
                <td>{{ order.client.username }}</td>
                {% endif %}
                <td>{{ order.status }}</td>
                <td>{{ order.category }}</td>
                <td>{{ order.created_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No orders found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not request.user.is_manager or request.user.is_admin %}
    <a href="{% url 'create_order' %}" class="btn btn-primary mt-3">Create an Order</a>
    {% endif %}

    <a href="{% url 'profile' %}" class="btn btn-primary mt-3">Back to Profile</a>
</div>
{% endblock %}
